html {
  @include fonts;
  @include full-page;

  body {
    @include full-page;
    @include vertical-grid;

    section {
      &#content {
        @include horizontal-grid;
        @include borders;

        article {
          h3 {
            display: none;
          }

          figure {
            @include figure;
            @include placeholder;

            picture {
              // center
              display: flex;
              justify-content: center;

              // do not let overflow the grid
              img {
                width: 70%;

                @include mobile {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
